/* All Pages */
body {
  position: relative;
  z-index: 1;
  max-height: 75vh !important;
  }
h1,
h2,
h3,
h4,
p,
em {
  color: #AAACAF !important;
}

html {
  max-width: 100vw !important;
}

a {
  color: #AAACAF;
  text-decoration: none;
  z-index: 1;
}

a:hover {
  color: #AAACAF;
  text-decoration: underline;
}

body {
  background-color: #3A3E47;
  max-width: 100vw !important;
  color: #AAACAF;
}

p {
  color: #AAACAF;
  margin-bottom: 0 !important;
}

.fontColor {
  color: #AAACAF;
}


h1 {
  text-align: center;
  color: #AAACAF !important;
  /*text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9);*/
  margin-top: 25px;
  margin-bottom: 15px;
  font-size: 8vmin !important;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}
h4 {
  font-size: .90rem;
 }
.modalFooter {
  font-size: .90rem;
  color: black !important;
}
.modal-header {
  background-color: #1F2022;
  }
  .modal-title {
    color: #AAACAF !important;
  }
.modal-footer {
  background-color: #1F2022;
}
.modal-content {
  background-color: #1F2022;
}
.modal-body {
  background-color: #1F2022 !important;
}
#ekkoLightbox-303 > div > div > div.modal-body > div {
  background-color: #1F2022;
}

.h3-resources {
  font-size: 7vmin;
  text-align: center;
  color: #AAACAF !important;
  /* text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9);*/
  margin-top: 25px;
  margin-bottom: 15px;
  font-weight: bold;
}

#navlogo {
  position: absolute;
  top: 0%;
  max-width: 150px;
  max-height: 11vh;;
  background-color: #1F2022;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  
}

.wideLogo {
  position: absolute;
  top: 0%;
  left: 0%;
  background-color:#AAACAF;
}

@media (max-width: 1199px) {
  .wideLogo {
    display: none;
  }
}

.navbar {
  background-color: #1F2022;
  color: #Fff !important;
}

.navFontSize {
  font-size: 3vmin;
}

@media (max-width: 1581px) {
  .navFontSize {
    font-size: 2vmin;
  }
}

@media (max-width: 1400px) {
  .navFontSize {
    font-size: 1.5vmin;
  }
}

@media (max-width: 1250px) {
  .navFontSize {
    font-size: 2vmin;
  }
}

@media (max-width: 540px) {
  .navFontSize {
    font-size: 2.5vmin;
  }
}

.navHeight {
  height: 11vh !important;
 width: 100vw;
}

@media (min-width: 1199px) {
  .navheight {
    height: auto !important;
  }

  .navbar li {
    margin-left: 1em;
    margin-right: 1em;
  }
}

a.active.nav-link {
  background-color: #AAACAF!important;
  margin-left: 3vw;
  margin-right: 3vw;
  transition: 250ms;
}

.navbar-text {
  color: #fff;
}

.navbar-text:hover {
  color: #DEF7FF;
  background: #AAACAF;
  border: none;
  transition: 250ms;
}

.navbar-toggler {
  background-color: #3A3E47;
  border: solid 1px #AAACAF;
}

@media (max-width: 1200px) {
  .navbar-toggler {
    position: absolute;
    left: 2vw;
    top: 2vh;
    width: 5vw;
    height: 5vh;
  }
}

@media (max-width: 1000px) {
  .navbar-toggler {
    position: absolute;
    right: 1%;
    top: 1%;
    width: 6vw;
    height: 6vh;
  }
}

@media (max-width: 769px) {
  .navbar-toggler {
    position: absolute;
    right: 1%;
    top: 1%;
    width: auto;
    height: auto;
  }
}

@media (max-width: 541px) {
  .navbar-toggler {
    position: absolute;
    right: 4%;
    top: 3%;
    width: 13vw;
    height: 5vh;
  }
}

@media (max-width: 400px) {
  .navbar-toggler {
    position: absolute;
    width: auto;
    height: auto;
  }
  }

@media (max-width: 766px) {
  .navbar {
    max-width: 100vw;
    display: flex;
    vertical-align: middle;
    min-height: 6vh;
    height: auto;
  }
}


.navbar-collapse {
  background-color: #1F2022;
}

@media (max-width: 1199px) {
  .navbar-collapse {
    margin-right: 75vw;
    padding-left: 3vw;
    padding-right: 3vw;
  }
}

@media (max-width: 1199px) {
  .mobileDrop {
    margin-top: 7vh;
    width: auto;
  }
}

a.active.navHome {
  margin-right: 3vw;
  transition: 250ms;
}

a.active.navMember {
  margin-left: 3vw;
  margin-right: 0vw;
  transition: 250ms;
}

/*/All pages*/



/*About*/
.pulse {
  animation: pulse-animation 2s;
  animation-iteration-count: 5;
}

@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0px rgba(255, 255, 255, 0.2);
  }

  100% {
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0);
  }
}

.icons {
  width: 3vw;
  margin-left: 1vh;
  margin-right: 1vh;
}

.icons:hover {
  transform: rotate(360deg);
  transition: transform 1s ease 0s;
}

.iconFloat {
  position: relative;
  display: flex;
  flex-direction: row;
  vertical-align: middle;
  float: right !important;
  z-index: 2;
  margin-top: 2vh;
  margin-right: 3vw;
  margin-left: 3vw;
  line-height: 8vh;

}

@media (max-width: 767px) {
  .icons {
    width: 10vw;
  }

  .iconFloat {
    position: relative;
    display: flex;
    flex-direction: column;
    float: right;
    line-height: 6vh;
    margin-top: 6vh;
  }
}

#aboutImageGradient {
  background-image:
    linear-gradient(to right, rgba(68, 85, 85, 0.73) 55%, rgba(87, 37, 24, 0.52) 100%),
    url('../img/photos/about.jpg');
  width: 100%;
  height: 88vh;
  background-size: cover;
  margin-top: 10vh;
  margin-bottom: 0;
  position: static;
  z-index: -1;
}

@media (max-width: 767px) {
  #aboutImageGradient {
    background-size: cover;
    background-repeat: no-repeat;
    height: 35vh;
    width: 100vw;
    margin-top: 5vh;
    margin-bottom: 0vh;
    padding-bottom: 0;
  }
}
@media (max-width: 550px) {
  #aboutImageGradient {
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
    width: 100vw;
    margin-top: 5vh;
    margin-bottom: 0vh;
    padding-bottom: 0;
  }
}
.textOverAbout { position: relative; margin-bottom: 0; } /* REQUIRED */
.textOverAbout figcaption {
  position: absolute;
  top: 25%;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 10vmin;
  color: #AAACAF;
  background: rgba(0, 0, 0, 0.6);
}
.aboutImg {
  width: 60vw;
  height: 65vh; 
}

@media (max-width: 1175px) {
  .aboutImg {
    width: 59vw;
    height: auto;
  }
}

@media (max-width: 769px) {
  .aboutImg {
    width: 60vw;
    height: 50vh;
  }
}
@media (max-width: 500px) {
  .aboutImg {
    width: 100vw;
    height: auto;
  }
}

.aboutContact {
  text-align: justify;
  font-size: 4vmin;
  background-color: #3A3E47;
  width: 40vw;
}

.aboutContact>p {
  font-family: 'Lato', sans-serif;
  margin-top: 20vh;
  color: #AAACAF;
  padding-left: 2vw;
  padding-right: 2vw;
}

@media (max-width: 1175px) {
  .aboutContact {
    width: 41vw;
    height: auto;
  }

  .aboutContact>p {
    margin: auto;
    font-size: 4vmin;
  }
}

@media (max-width: 1281px) {
  .aboutContact>p {
    font-size: 2.5vmin;
  }
}

@media (max-width: 769px) {
  .aboutContact {
    display: inline-block;
    left: 0;
    width: 100vw;
  }

  .aboutContact>p {
    font-size: 3.25vmin;
  }
}

/*/About*/

/*Skills*/


.skillsLogos {
  max-width: 75px;
  max-height: 75px;
  margin-right: 3vw;
  margin-left: 3vw;
}
/*/Skills*/

/*Image Gallery*/
.skills>p {
  font-size: 3vmin;
}

@media (max-width: 1280px) {
  .skills>p {
    font-size: 2vmin;
  }
}
@media (max-width: 766px) {
  .skills>p {
    font-size: 2.5vmin;
  }
}
@media (max-width: 575px) {
  .skills>p {
    font-size: 3.5vmin;
  }
}

.gallerySize {
  width: 350px;
  height: 200px;
  margin-bottom: 0 !important;
  padding-bottom: 0;
}

.galleryBg {
  background: #1F2022;
  width: auto;
  padding: 0;
  margin-bottom: 0;
}

.galleryBg>p {
  color: white;
  font-size: 2vmin;
}

.galleryBg>a>p {
  color: white;
  font-size: 2vmin;
}

.galleryBg>a>p:hover {
  text-decoration: underline;
}

@media (max-width: 1556px) {
  .galleryBg {
    height: auto;
    margin-top: 0;
  }
}
@media (max-width: 766px) {
 .galleryBg{
 width: auto;
 }
}

@media (max-width: 750px) {
  .galleryBg>p {
    font-size: 3vmin;
  }
}

@media (max-width: 524px) {
  .galleryBg>p {
    font-size: 2.5vmin;

  }
}

.galleryName {
   font-size: 3vmin;
  margin-top: 0;
  padding-top: 1.5vmin;
 }

@media (max-width: 677px) {
  .galleryName {
    font-size: 5vmin;
    padding-top: 0;
    margin-top: 0 !important
  }
}

