.card {
    width: 10vw;
    display: none;
    font-size: 10px;
    position: absolute;
    z-index: 1000;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #C8F0FD;
}

.link-with-preview {
    position: relative;
}

.card img {
    width: 10vw;
}

.card-title {
    font-size: 16px;
    color: #642516 !important;
    text-decoration: underline;

}

.card-date {
    font-size: 12px;
}